{% extends 'layout.html' %}
{% block content %}

<h1 class="title"><img src="{{sellerInfo.logo}}" alt="" class="logo"><span>{{sellerInfo.username}}</span></h1>
<div class="banner">
    <img src="{{sellerInfo.banner}}" alt="">
</div>
<div class="goods-wrapper">
    <ul class="goods-all clearfix">
        {% for item in goodsInfo %}
        <li>
            <a href="/goodsDetail?id={{item._id.toString()}}">
                <img src="{{item.smallImage}}" alt="">
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>
                <p>价格: {{item.price}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>

</div>
<!--聊天室-->
<div class="room" data-info="{{sellerInfo.username}}" data-buyer="{{buyername}}">
    <span class="x">X</span>
    <ul class="chat-list">

    </ul>
    <div class="input-box">
        <textarea class="input"></textarea>
        <button id="send">发送</button>
    </div>
</div>
{% endblock %}
{% block css%}
<style>
    .logo{
        width: 100px;
        height: 100px;
    }
    .banner{
        width: 100%;
        height: 150px;
        overflow: hidden;
    }
    .banner img{
        width: 100%;
        height: 150px;
    }
    .room{
        width: 400px;
        height: 400px;
        border: 4px solid #ddd;
        background: lightblue;
        position: fixed;
        right: 0;
        bottom: 0;
    }
    .room .chat-list{
        width: 100%;
        height: 300px;
        overflow: auto;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
    }
    .room .chat-list .left{
        margin: 5px;
        border-radius: 8px;
        line-height: 18px;
        padding: 4px;
        background: lightcoral;
        float: left;
        clear: both;
        max-width: 60%;
    }
    .room .chat-list .right{
        margin: 5px;
        border-radius: 8px;
        line-height: 18px;
        padding: 4px;
        background: palegreen;
        float: right;
        clear: both;
        max-width: 60%;
    }
    .input-box{
        position: relative;
        width: 100%;
        height: 80px;
    }
    .input-box .input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        resize: none;
    }
    .input-box button{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .room .x{
        position: absolute;
        right: 0px;
        top: 0px;
        display: block;
        width: 20px;
        height: 20px;
        color: red;
        cursor: pointer;
    }
    .goods-wrapper{
        width: 1123px;
        margin: 0 auto;
        overflow: hidden;
    }
    .goods-wrapper .goods-all{
        width: 1123px;
        margin: 0 auto;
    }
    .goods-wrapper .goods-all li{
        float: left;
        width: 320px;
        height: 400px;
        margin: 27px;
        border: 1px solid #ddd;
        overflow: hidden;
        transform-style: preserve-3d;
        position: relative;
    }
    .goods-wrapper .goods-all li.active{
        /*border: 1px solid red;*/
        /*animation: all 10s linear;*/
        box-shadow: 0px 0px 20px lightgray;
    }
    .goods-wrapper .goods-all li img{
        width: 320px;
        height: 300px;
    }
    .goods-wrapper .goods-all li h3{
        font-size: 18px;
        margin: 10px 0;
    }
    .goods-wrapper .goods-all li p:nth-of-type(1){
        height: 20px;
        overflow: hidden;
    }
</style>
{% endblock %}

{% block js %}
<script src="/public/seller/js/center.js"></script>
<script>
$('.goods-wrapper .goods-all li').on('mouseenter',function () {
$(this).stop().animate({"top":'-4px'}).addClass('active').siblings().removeClass('active').stop().animate({"top":'0px'});
});
$('.room .x').on('click',function () {
    $(this).parents('.room').hide();
});
</script>
{% endblock %}