<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>buyer</title>
    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.js"></script>
    <script src="/public/seller/js/login.js"></script>
</head>
<body>

<h1>登录</h1>
<div>
    <div class="form-group">
        <label>用户名:</label>
        <input name="user" type="text" class="form-control" placeholder="请输入用户名"/>
    </div>
    <div class="form-group">
        <label>密码:</label>
        <input name="psd" type="password" class="form-control" placeholder="请输入密码"/>
    </div>
    <button id="confirm" class="btn btn-success btn-block">登录</button>
    <button class="btn btn-danger btn-block">取消</button>
    <a href="/seller/register">注册</a>
</div>
</body>
</html>


