<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/buyer/css/reset.css">
    {% block css %}
    {% endblock%}
    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">商城</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{indexActive}}"><a href="/">首页<span class="sr-only">(current)</span></a></li>
                <li class="{{goodsActive}}"><a href="/goodslist">商品</a></li>
                <li class="{{sellerActive}}"><a href="/sellerlist">商家</a></li>
            </ul>
            {% block search %}
            {% endblock %}
            <ul class="nav navbar-nav navbar-right">
               {% if buyername!=null %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{buyername}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">个人中心</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="{{loginActive}}"><a href="/login">登录</a></li>
                <li class="{{regActive}}"><a href="/register">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="content">
    {% block content %}
    {% endblock %}
</div>

{% block js %}
{% endblock %}

</body>
</html>